<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<header><%- include('../partials/header'); %></header>

<div class="container mt-5 mb-5">
    <h1>Productos Zapatillas</h1>
    <table class="table table-striped">
        <thead>
        <tr class="text-white">
            <th class="text-white">Marca</th>
            <th class="text-white">Talle</th>
            <th class="text-white">Modelo</th>
        </tr>
        </thead>
        <tbody>
        <% productos.forEach(function(producto) { %>
            <tr class="text-white">
                <td class="text-white"><%= producto.marca %></td>
                <td class="text-white"><%= producto.talle %></td>
                <td class="text-white"><%= producto.modelo %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<footer><%- include('../partials/footer'); %></footer>

</body>
</html>

